<ion-view view-title="SIS CEJAM - Entrar">
	<ion-content class="padding">
		<div class="list">
            <label class="item item-input">              
              <input type="text" autocapitalize="none" placeholder="Usuário" ng-model="user.username">
            </label>
            <label class="item item-input">
              <input type="password" autocapitalize="none" placeholder="Senha" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              Entrar
            </button>            
	</ion-content>
</ion-view>