<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Dashboard Tab -->
	<ion-tab title="Notificações" icon-off="ion-ios-alarm-outline" icon-on="ion-ios-pulse-strong" href="#/tab/notifications">
		<ion-nav-view name="notifications"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Conta" icon-off="" icon-on="ion-ios-person" href="#/tab/account">
		<ion-nav-view name="account"></ion-nav-view>
	</ion-tab>
  
</ion-tabs>